$header-fixed: 100;
$fixed-normal: 1;
$modal: 1000;

$breakpointss:(
    xs: 425px,

    open-s: 426px,
    closer-s:767px,

    open-m: 768px,
    closer-m:991px,

    open-l : 992px,
    closer-l:1199px,

    xl: 1200px 
)



