@media(min-width:1200px){

	.col-lg-12{width:100%;}
	.col-lg-11{width:91.66666667%;}
	.col-lg-10{width:83.33333333%;}
	.col-lg-9{width:75%;}
	.col-lg-8{width:66.66666667%;}
	.col-lg-7{width:58.33333333%;}
	.col-lg-6{width:50%;}
	.col-lg-5{width:41.66666667%;}
	.col-lg-4{width: 33.33333333%;}
	.col-lg-3{width: 25%;}
	.col-lg-2 {width: 16.66666667%;}
	.col-lg-1 {width: 8.33333333%;}
	.col-lg-0 {display:none;}


	
    .contenedor-nav img{
        margin-top: -5px;
    }

    .contenedor-nav div:nth-of-type(2){
        display: none;
    }
    
    .contenedor-nav div:nth-of-type(4){
        display: none;
    }


}

/*=============================================
PANTALLA DE ESCRITORIO MEDIANO - MEDIUM (md) - revisamos en tablet horizontal 1024px
=============================================*/

@media(max-width:1199px) and (min-width:992px){

	.col-md-12{width:100%;}
	.col-md-11{width:91.66666667%;}
	.col-md-10{width:83.33333333%;}
	.col-md-9{width:75%;}
	.col-md-8{width:66.66666667%;}
	.col-md-7{width:58.33333333%;}
	.col-md-6{width:50%;}
	.col-md-5{width:41.66666667%;}
	.col-md-4{width:33.33333333%;}
	.col-md-3{width:25%;}
	.col-md-2{width:16.66666667%;}
	.col-md-1{width:8.33333333%;}
    .col-md-0 {display:none;}

    .logo>p{
        font-size: 1.1rem;
        font-weight: 600;
    }
}

/*=============================================
PANTALLA DE TABLET - SMALL (sm) - revisamos en tablet vertical 768px
=============================================*/

@media(max-width:991px) and (min-width:768px){

	.col-sm-12{width:100%;}
	.col-sm-11{width:91.66666667%;}
	.col-sm-10{width:83.33333333%;}
	.col-sm-9{width:75%;}
	.col-sm-8{width:66.66666667%;}
	.col-sm-7{width:58.33333333%;}
	.col-sm-6{width:50%;}
	.col-sm-5{width:41.66666667%;}
	.col-sm-4{width:33.33333333%;}
	.col-sm-3{width:25%;}
	.col-sm-2{width:16.66666667%;}
	.col-sm-1{width:8.33333333%;}
	.col-sm-0 {display:none;}

    body{
        background: none;
    }

    .logo{
        margin-bottom:1rem;
        margin-top: 0;
    }

    .logo>p{
		padding-top: 7px;
		color:var(--color);
    }

    nav{
        border: none;
    }
    .contenedor-nav{
        margin-bottom: 1rem;
    }

    .contenedor-nav img{
        display:table;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 1rem;
    }

    .registro{
        margin-bottom: 0;
    }
    
    .title{
        background-color: var(--color-container);
        color: var(--color);
    }
    
    
  
}

/*=============================================
PANTALLA DE PHONES - EXTRA SMALL (xs) - revisamos en movil horizontal 480px o vertical 320px
=============================================*/

@media(max-width:767px) and (min-width:426px){

	.col-xs-12{width:100%;}
	.col-xs-11{width:91.66666667%;}
	.col-xs-10{width:83.33333333%;}
	.col-xs-9{width:75%;}
	.col-xs-8{width:66.66666667%;}
	.col-xs-7{width:58.33333333%;}
	.col-xs-6{width:50%;}
	.col-xs-5{width:41.66666667%;}
	.col-xs-4{width:33.33333333%;}
	.col-xs-3{width:25%;}
	.col-xs-2{width:16.66666667%;}
	.col-xs-1{width:8.33333333%;}
    .col-xs-0 {display:none;}

    body{
        background-image: none;
        background-color: var(--color-container);
    }

    .login{
        border-radius: 10px;
    }

    .container-nav{
        width: 14%;
    }  

	.login-img{
        display: none;
    }

    .container-form{
        width: 100%;
    }

    .form{
        width: 70%;
    }

}

@media(max-width:425px){
	
	.col-xf-12{width:100%;}
	.col-xf-11{width:91.66666667%;}
	.col-xf-10{width:83.33333333%;}
	.col-xf-9{width:75%;}
	.col-xf-8{width:66.66666667%;}
	.col-xf-7{width:58.33333333%;}
	.col-xf-6{width:50%;}
	.col-xf-5{width:41.66666667%;}
	.col-xf-4{width:33.33333333%;}
	.col-xf-3{width:25%;}
	.col-xf-2{width:16.66666667%;}
	.col-xf-1{width:8.33333333%;}
    .col-xf-0 {display:none;}

	body{
        background-image: none;
        background-color: var(--color-container);
        margin-top: 0;
    }

    .container{
        padding-top: 6rem; 
    }

    .header-fixed{
        display: block;
    }

    .navegation{
        position: static;
        width: 100%;
        border-bottom: none;
    }
    
    .container-nav{
        width: 100%;
        position: static;
        border-left: none;
    }

    .container-nav a{
        width: 100%;
    }

    .container-nav img{
        width: 5%;
    }
    
    .logo{
        width: 100%;
    }

    .container-form{
        width: 100%;
    }

    .form{
        width: 100%;
    }

    .registro{
        margin-top: 2rem;
        margin-bottom: 0;
    }

    .icon-account{
        padding-bottom: 5rem;
    }

    .row{
        padding-top: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .indent{
       text-indent: 100px; 
    }

    .title{
        display: none;
    }
    .indent + label{
        font-size: 8px;
    }
}
