

body{
    margin-top: 2.6rem;
    width: 100%;
    background-image: url(../img/lago-background-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.726);
    background-blend-mode: darken;
    background-attachment: fixed;
}

//Login//

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 94.7vh;
}

.header-fixed{
    position: fixed;
    top: 0;
    width: 100%;
    height: 2.6rem;
    display: flex;
    align-items: center;
    z-index: $header-fixed;
}

.logo{
    width: 18.75rem;
    text-align: center;
    line-height: 2rem;
}

.logotipo{
    margin-left: auto;
    margin-right: auto;
    width: 6.25rem;
}

.navegation{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 25rem;
}

.container-nav{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 7rem;
    height: 2rem;

    .container-nav a{
        width: 45%;
        height: 100%;
        
    }

    img{
        padding-left: 0.2rem; 
        padding-right: 0.2rem; 
        margin-right: 1rem; 
        width: 20%;
        height: 100%;
    }
}

.login{
    @extend %relative;
    height: 22rem;
}

.icon-account{
    position: absolute;
    left: 0;
    right: 0;
    margin: -3rem auto 0;
    width: 20%;
}

.title{
    @extend %relative;
    top: 3rem;
    padding: 1rem;
    text-align: center;
    margin-bottom: -1.7rem;
}

.container-form{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form{
    width: 70%;
}

.row{
    width: 100%;
    margin: 0 auto;
    padding: 3rem 1.2rem 2rem;
    @extend %relative;
    z-index: $fixed-normal;
    text-align: center;

    span{
        display: inline-block;
        height: 10%;
        width: 100%;
        @extend %relative;
        margin-bottom: 2.7rem;  
    }
}

.balloon{
    display: inline-block;
    width: 100%;
    padding: 10px 0 10px 15px;
    border: 0;
    
}

.alert{
    margin-top: -1rem;
    padding-bottom: 1rem;
}

.boton{
    width: 50%;
	margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

//registro//

.registro{
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 9rem;
    padding-bottom: 12rem;
}

.icon-registro{
    width: 14%;
}

.ti-registro{
    margin-top: 3rem;
    margin-bottom: 0;
}

.submit-reset{
    width: 100%;
    display: flex;
}



